<div ng-controler="loginCtrl">
    <div class="container">
        <label class="label label-default" for="username">USERNAME:</label>
        <input class="form-control" type="text" name="username" id="username"
               ng-model="username"  >
        <br><br>

        <label class="label label-default" for="password">PASSWORD:</label>
        <input class="form-control" type="password" name="password" id="password"
               ng-model="password"  >
        <br><br>
        <button class="btn longBtn" ng-click="login()">LOGIN</button>

    </div>
</div>